html {
  height: 100%;
}

body {
  font-weight: 400;
  position: relative;
  margin: 0;
  min-height: 100%;
  padding-bottom: 34rem;

  @media(min-width: 992px) {
    padding-bottom: 24rem;
  }
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

blockquote {
  font-size: @font-size-base;
}

pre,code,tt {
  font-family: "Source Code Pro";
  font-size: @font-size-base * .9;
  letter-spacing: -0.03em;
  border: none;
  border-radius: 0;
}

code {
  font-weight: 500;
  padding: 0;
}

.blog-post-title a {
  text-decoration: none;
}

div.blog-post-content a {
  text-decoration: none;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 2px, @gray-light 2px, @gray-light 3px, rgba(0, 0, 0, 0) 3px);
  &:hover {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 2px, @text-color 2px, @text-color 3px, rgba(0, 0, 0, 0) 3px);
  }
}

div.continue-link {
  margin-top: -1em;
  margin-bottom: 1em;
  text-align: right;
}

a.continue-link {
  font-family: @font-family-sans-serif;
  font-size: @font-size-base * .75;
  text-decoration: none;
  color: @gray-light;
  background-image: none !important;
  &:hover {
    color: @gray-darker;
    background-image: none !important;
  }
}

a.link-anchor {
  display: block;
  position: relative;
  visibiliy: hidden;
  top: -1.5*@line-height-computed;
}

a.back-link {
  .icon-ms-back {
    visibility: hidden;
    opacity: .8;
  }

  &:hover .icon-ms-back {
    visibility: visible;
  }
}

dl.blog-post-meta {
  display: none;
}

p.blog-post-meta {
  font-family: "Source Sans Pro";
  font-size: @font-size-base * 1.2;
  font-weight: 600;
  border-bottom: 1px solid #eee;
}

span.blog-post-edit a {
  float: right;
  font-weight: 400;
  text-decoration: none;
}

h1,h2,h3,h4,h5,label {
  font-family: "Source Sans Pro";
  font-weight: 700;
}

table {
  td, {
    border-top: none !important;
  }

  thead {
    display: none;
  }

  .table;
}

section.discussion, {
  div.comment-body {
    margin-left: 1em;
    a {
      text-decoration: none;
      text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
      background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 2px, @gray-light 2px, @gray-light 3px, rgba(0, 0, 0, 0) 3px);
      &:hover {
        background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 2px, @text-color 2px, @text-color 3px, rgba(0, 0, 0, 0) 3px);
      }
    }
  }

  div.comment-policy {
    font-family: "Source Sans Pro";
    font-size: @font-size-base * 0.7;
  }

  a {
    background-image: none;
    &:hover {
      background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 2px, @text-color 2px, @text-color 3px, rgba(0, 0, 0, 0) 3px);
    }
  }

}

a.anchorjs-link {
  text-decoration: none;
  color: @gray-light;
  background-image: none !important;
  &:hover {
    color: @gray-darker;
    background-image: none !important;
  }
}

form.hubbub-form {
  padding-top: 1em;
}

.form-control {
  border-radius: 0;
  outline: 0;
  box-shadow: none;
  &:focus {
    box-shadow: none;
  }
}

input.noLastPassStyle {
  background-image:none !important;
  background-attachment:none !important;
  padding-right:0 !important;
}

textarea {
  resize: vertical;
  min-height: @line-height-computed * 8;
}

.hubbub-sending .submit {
  display: none;
}

.hubbub-sending .sending-status {
  display: block;
}

.sending-status {
  display: none;
}

.hubbub-pending {
  position: relative;
}

.hubbub-editbar {
  position: absolute;
  bottom: 0.5em;
  right: 0;
}

.hubbub-delete-button {
  .btn;
  .btn-primary;
}
