<footer>
  <div class="container">
    <div class="row">
      <div class="sitemap col-md-4">
        <ul class="list-unstyled">
          <li>
            <a href="http://twitter.com/milessabin">
              <span class="icon-ms-twitter"></span>
              @milessabin
            </a>
          </li>
          <li>
            <a href="https://github.com/milessabin">
              <span class="icon-ms-octoface"></span>
              https://github.com/milessabin
            </a>
          </li>
          <li>
            <a href="https://plus.google.com/+milessabin/about">
              <span class="icon-ms-google-plus"></span>
              https://plus.google.com/+milessabin/about
            </a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/milessabin">
              <span class="icon-ms-linked-in"></span>
              https://www.linkedin.com/in/milessabin
            </a>
          </li>
          <li>
            <a href="mailto:miles@milessabin.com">
              <span class="icon-ms-envelope"></span>
              miles@milessabin.com
            </a>
          </li>
        <ul/>
      </div>
      <div class="col-md-8">
        <p class="copyright text-center">
          <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">
            <img alt="Creative Commons Licence" style="border-width:0"
             src="https://i.creativecommons.org/l/by/4.0/80x15.png" />
          </a>
          <br />
          This work is licensed under a
          <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">
            Creative Commons Attribution 4.0 International License
          </a>.
          <br />
          &copy; 2008-{{ site.time | date:"%y" }} Miles Sabin
        </p>
      </div>
    </div>
  </div>
</footer>
