<nav class="navbar {% if include.class %}{{ include.class }}{% else %}navbar-standard{% endif %}" role="navigation">
  <div class="container">
    <ul class="nav navbar-nav navbar-right">
      <li class="social">
        <a href="http://twitter.com/milessabin">
          <span class="icon-ms-twitter"></span>
          <span class="sr-only">Twitter</span>
        </a>
      </li>
      <li class="social">
        <a href="https://github.com/milessabin">
          <span class="icon-ms-octoface"></span>
          <span class="sr-only">Github</span>
        </a>
      </li>
      <li class="social">
        <a href="https://plus.google.com/+milessabin/about">
          <span class="icon-ms-google-plus"></span>
          <span class="sr-only">Google+</span>
        </a>
      </li>
      <li class="social">
        <a href="https://www.linkedin.com/in/milessabin">
          <span class="icon-ms-linked-in"></span>
          <span class="sr-only">LinkedIn</span>
        </a>
      </li>
      <li class="social">
        <a href="mailto:miles@milessabin.com">
          <span class="icon-ms-envelope"></span>
          <span class="sr-only">e-mail</span>
        </a>
      </li>
      <li class="divider"></li>
      <li>
        <a href="/blog/feed.xml">
          <span class="icon-ms-rss"></span>
          <span class="sr-only">RSS</span>
        </a>
      </li>
    <ul/>
  </div>
</nav>
