<div class="blog-pagination pull-right">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="btn btn-primary">
      <span class="icon-ms-chevron-left"></span>
      Newer posts
    </a>
  {% else %}
    <button class="btn btn-primary" disabled="disabled">
      <span class="icon-ms-chevron-left"></span>
      Newer posts
    </button>
  {% endif %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="btn btn-primary">
      Older posts
      <span class="icon-ms-chevron-right"></span>
    </a>
  {% else %}
    <button class="btn btn-primary" disabled="disabled">
      Older posts
      <span class="icon-ms-chevron-right"></span>
    </button>
  {% endif %}
</div>
