---
layout: default
---

{% include hero.html %}

<main class="container">
  <div class="row">
    <div class="col-md-12">
      <article class="blog-post" data-post-url="{{ page.url }}">
        <header>
          <h2 class="blog-post-title">
            <a class="back-link" href="/blog">
              {{ page.title }}
              <span class="icon-ms-back"></span>
            </a>
          </h2>

          {% include blog/meta.html post=page %}

          <p class="blog-post-meta">
            <span class="blog-post-author">{{ page.author }}</span>
            &mdash;
            <span class="blog-post-data">{{ page.date | date: '%d %B %Y'}}</span>
            <span class="blog-post-edit">
              <a href="https://github.com/milessabin/milessabin.com/edit/master/src/html/{{ page.path }}">[edit]</a>
            </span>
          </p>
        </header>

        <div class="blog-post-content">
          {{ content }}
        </div>

      </article>
    </div>
  </div>
</main>

{% include footer.html %}
