---
layout: default
---

{% include hero.html %}

<section class="container">
  <div class="row">
    <div class="col-md-12">
      <section class="blog-post" data-post-url="{{ page.url }}">
        <h2 class="blog-post-title">
          <a class="back-link" href="/blog">
            {{ page.title }}
            <span class="icon-ms-back"></span>
          </a>
        </h2>

        {% include blog/meta.html post=page %}

        <p class="blog-post-meta">
          <span class="blog-post-author">{{ page.author }}</span>
          &mdash;
          <span class="blog-post-data">{{ page.date | date: '%d %B %Y'}}</span>
        </p>

        <article class="blog-post-content">
          {{ content }}
        </article>

        <div data-hubbub-pendingcomments>
        </div>

        <form data-hubbub class="form-horizontal" action="http://hubbub.milessabin.com/api/default/comments">
          <div class="form-group">
            <div class="col-sm-3">
              <label class="" for="metadata_name">name</label>
              <input class="form-control noLastPassStyle" name="metadata_name" placeholder="Your Name">
            </div>

            <div class="col-sm-3">
              <label class="" for="metadata_twitter">twitter</label>
              <input class="form-control" name="metadata_twitter" placeholder="@yourhandle">
            </div>

            <div class="col-sm-6">
              <label class="" for="metadata_url">url</label>
              <input class="form-control" name="metadata_url" placeholder="http://yourlink.com/">
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-12">
              <textarea class="form-control" name="comment" placeholder="Your comment ... you can use Github flavoured Markdown ..."></textarea>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-12">
              <input class="btn btn-primary pull-right" type="submit" value="Post comment">
            </div>
          </div>
        </form>
      </section>
    </div>
  </div>
</section>

{% include footer.html %}
