---
layout: default
---

{% include hero.html %}

<section class="container">
  <div class="row">
    <div class="col-md-12">
      <section class="blog-post" data-post-url="{{ page.url }}">
        <h2 class="blog-post-title">
          <a class="back-link" href="/blog">
            {{ page.title }}
            <span class="icon-ms-back"></span>
          </a>
        </h2>

        {% include blog/meta.html post=page %}

        <p class="blog-post-meta">
          <span class="blog-post-author">{{ page.author }}</span>
          &mdash;
          <span class="blog-post-data">{{ page.date | date: '%d %B %Y'}}</span>
        </p>

        <article class="blog-post-content">
          {{ content }}
        </article>

        {% comment %}
        END_COMMENTS
        {% endcomment %}

        <div data-hubbub-pendingcomments>
        </div>

        <form data-hubbub action="http://hubbub.milessabin.com/api/default/comments">
          <p>Your name: <input name="metadata_name"></p>
          <p>Your Comment</p>
          <textarea name="comment" placeholder="Comment here"></textarea>
          <p><input type="submit" value="Comment"></p>
        </form>
      </section>
    </div>
  </div>
</section>

{% include footer.html %}
